<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>

    <header>
        <h1>Recipe Book</h1>
        {% block subheading %}
            <h6>Home Page</h6>
        {% endblock %}
    </header>

    {% if "accounts/login" not in request.path %}
        {% if user.is_authenticated %}
            <h4>Hi, {{ user.username }}!</h4>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    {% endif %}

    <hr>

    <main>
        {% block content %}
            <h1>Index</h1>
        {% endblock %}
    </main>

</body>
</html>