{% extends "base.html" %}

{% block title %}
    Recipes
{% endblock %}

{% block subheading %}
    Recipe Detail Page
{% endblock %}

{% block content %}
    <h3>{{ recipes.name }}</h3>
    <h4>Created by <i>{{ recipes.author }}</i></h4>

    <div>
        <h3>Recipe Images:</h3>
        {% if recipes.recipe_image.all %}
            {% for image in recipes.recipe_image.all %}
                <img 
                    style="max-width: 300px; max-height: 300px;" 
                    src="{{ image.image.url }}" 
                    alt="{{ image.description }}"
                >
                <br>
            {% endfor %}
        {% endif %}

        <a href="{% url 'recipe-add-image' recipes.pk %}">Upload New Image</a>

        <h3>Ingredients</h3>
        <ol>
            {% for ingredient in recipes.ingredients.all %}
                <li>
                    {{ ingredient.ingredients.name }} : {{ ingredient.recipe_quantity }}
                </li>
            {% endfor %}
        </ol>

        <a href="{% url 'recipes' %}">Back To Homepage</a>
    </div>
{% endblock %}